<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Mission Statement: To support the autism community by offering services that enhance the quality, availability, and effectiveness of treatment.</h3>
                </div>
            </div>
            <div class="row text-center">
            {% for service in site.services %}
                <a href="#servicesModal{{ service.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-{{ service.id }}"></i>
                            <i class="fa fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">{{ service.name }}</h4>
                        <p class="text-muted">{{ service.description }}</p>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </section>
