// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.text-training {
  color: #9ac8eb;
}

.text-consultation {
  color: #a15d98;
}

.text-collaboration {
  color: #f27348;
}
